:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#UI {
  position: absolute;
}

.health-bar {
  width: 200px;
  height: 25px;
  background-color: #333;
  border: 2px solid #000;
  border-radius: 0 0 10px 0;
  overflow: hidden;
  position: relative;
}

.health-bar-inner {
  height: 100%;
  background-color: red;
  width: 100%;
  transition: width 0.25s cubic-bezier(.43, -0.93, .18, 1.63);
  animation: healthIntro 1s ease-in 1;
}

@keyframes healthIntro {
  0% {
    width: 0%;
    background-color: #541c03;
  }

  35% {
    width: 100%;
    background-color: #540b03;
  }

  100% {
    width: 100%;
    background-color: red
  }
}

.stamina-bar {
  width: 180px;
  height: 10px;
  background-color: #333;
  border: 2px solid black;
  border-radius: 0 0 10px 0;
  overflow: hidden;
  position: relative;
}

.stamina-bar-inner {
  height: 100%;
  background-color: white;
  width: 100%;
  transition: width 1.2s cubic-bezier(.71, -0.48, 0, 1.56);
}

.ammo-display {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-top: 10px;
}

.ammo-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

@keyframes ammo_intro {
  from {
    transform: scale(1) translateX(0);
  }

  50% {
    transform: scale(1) translateX(20px);
  }

  to {
    transform: scale(1.1) translateX(20px);
  }
}

@keyframes ammo_reload {
 0% {
    color: white
  }

  100% {
    color: red;
  }
}


#ammo-count {
  font-weight: bold;
  transform:  scale(1.1) translateX(20px);
  animation: ammo_intro .5s  cubic-bezier(.28,-0.2,.31,.96) 1;
  transition: color .3s ease;
}

.reload {
  /* color: red; */
  animation: ammo_reload .5s .6s ease infinite;
}
